@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pantry Manager</h1>
    <p class="lead">Easily lower your grocery bill through smart inventory managemnt.  Keep track of groceries you have on hand and automatically add items you purchase to your inventory.  </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>View Out of Stock Items</h2>
        <p>
            Seperate list of items you usually keep on hand and are out of stock of.
        </p>
 
    </div>
    <div class="col-md-6">
        <h2>Automatically Add Purchases</h2>
        <p>Finish your shopping list and add items to your personal inventory with one click.</p>
    </div>

</div>